<!-- <h1>Andres#index</h1>
<p>Find me in app/views/andres/index.html.erb</p> -->
<!-- navbar -->


<!-- <p><strong>Note:</strong> The animation-timing-funtion property is not supported in Internet Explorer 9 and earlier versions.</p> -->

<div id="div1">linear</div>
<div id="div2">ease</div>
<div id="div3">ease-in</div>
<div id="div4">ease-out</div>
<div id="div5">ease-in-out</div>


<!-- <div class="container1">
  <img src="js.png" alt="Norway" width="1000" height="300">
  <div class="center">THE RABBIT HOLE</div>
</div> -->
