<!-- <h1>Andres#index</h1>
<p>Find me in app/views/andres/index.html.erb</p> -->
<!-- navbar -->




<h5><div id="div1">hello</div></h5>
<h5><div id="div2"><a href='/index'>Andre</a></div></h5>
<h5><div id="div3"><a href='/projects'>Projects</a></div></h5>
<h5><div id="div4"><a href='/resume'>Resume</a></div></h5>
<h5><div id="div5"><a href='/contact'>Contact</a></div></h5>

<!-- 
<div class="container1">
  <img src="js.png" alt="Norway" width="1000" height="300">
  <div class="center">THE RABBIT HOLE</div>
</div> -->
<h6><a href='#top'>top</a></h6>
