<!-- <h1>Andres#projects</h1>
<p>Find me in app/views/andres/projects.html.erb</p> -->
<h1>Projects</h1>


    <!-- <th><%= image_tag "css_icon.png" %></th> -->
    <!-- <th><%= image_tag "" %></th> -->
    <!-- <th>Age</th> -->
  <!-- </tr> -->
<!-- </table>
