// Place all the styles related to the Andres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/

a{
    text-decoration:none;
}





/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {max-width: 100%;}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font-size: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ceb3a7;
}

ul li {float: left;}


ul li a {
    display: block;
    color: #dbcbc5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {background-color: #b26645;}

ul li a {background-color: #4588b2;}

ul li.right {float: right;}

@media screen and (max-width: 600px){
    ul li.right,
    ul li {float: none;}
}


// p{
//   margin-top: 300;
// }


// ************body***************
.whole{
  height:100px;
  // background-color: black;
}
.navbar{
height: 100px;
width: 100%;
background-color: #FF9800;
// border: 5px dotted green;
margin-bottom: 100px;
z-index: 12;
opacity: .9;
position: fixed;
}

// .navbar a{
// height: 100px;
// width: auto;
// background-color: #BCAAA4;
// border: 1px dotted green;
// margin-bottom: 100px;
// z-index: 20;
// // opacity: .3;
// }

.bottombar{
height: 100px;
margin-top: 50px;
background-color: #FF9800;
// border: 1px dotted blue;
  /*z-index: 3;*/
z-index: auto;
// position: fixed;
}





//
// .backtoback {
//   background-color: white;
// }
// ******************sidenav**********************

CSS selector {
  font-family: 'Quicksand', serif;
}

CSS selector {
  font-family: 'Amatic SC', serif;
}
.navbar a{
  color: black;
}
body .navbar {
  // display: block;
    font-family: "quicksand", sans-serif;
    // font-weight: bold;
    font-size:1em;
    // border: 2px dotted red;
  //   text-align: right;


    // float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  // font-size: 17px;
}
.logo {
  // overflow: hidden;

  position: relative;
  top: 0;

  display: inline;
  text-align: left;
}

body .bottombar {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size:1em;
    // border: 2px dotted yellow;
    display: block;
    text-align: center;
}
.me {
  color: white;
  background-color: black;
  font-size: 3em;
  font-family: "quicksand", sans-serif;
  // border: 2px dotted blue;
  text-align: center;
  display: block;
}
.me p{
  font-size: .5em;
  color: white;
}
.me i{
  font-size: .1em;

}

.about{
  font-size: 1em;
  font-family: "quicksand", sans-serif;
  text-align: center;
}

.about_res{
  font-size: 2em;
  font-family: "quicksand", sans-serif;
  text-align: center;
}

.social-icons{
  font-size: 2em;
}
.social-icons a{
  color: black;
}
.top a{
  color: black;
}
.tech-icon{
  text-align: center;
}

// .PD{
  // font-size: 3em;
  // font-family: "quicksand", sans-serif;
  // text-align: center;
// }

// .fullstack {
  // font-size: 2em;
  // font-family: "quicksand", sans-serif;
  // border: 2px dotted blue;
  // text-align: center;
// }
.fullstack p{
  color: white;
}

.dev-work {
  font-size: 1em;
  font-family: "quicksand", sans-serif;
  // border: 2px dotted blue;
  text-align: center;
}
.dev-work p{
  color: white;
  font-size: 1em;

}
.dev-work h1{
  color: white;
}
.run h4{
  color: white;
}
.run{
  text-align: left;
  display: inline-block;
}

.invest h4{
  color: white;
}
.invest{
  text-align: right;
  display: inline-block;
}

.tools {
  font-size: 2em;
  font-family: "quicksand", sans-serif;
  // border: 2px dotted blue;
  text-align: center;

}

.parallax {
    /* The image used */
    background-image: url("night_life.jpeg");

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// div.polaroid1 {
//   width: 250px;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   text-align: center;
// }

// div.cspace {
//   padding: 10px;
// }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 100%;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 100%;}
}

// *********************test***********


.parallax {
    /* The image used */
    background-image: url('night_life.jpeg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(75%);
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}


// .fa {
//   padding: 20px;
//   font-size: 30px;
//   width: 30px;
//   // text-align: center;
//   text-decoration: none;
//   margin: 5px 2px;
//   border-radius: 50%;
// }
//
// .fa:hover {
//     opacity: 0.7;
// }
//
//
// .fa-linkedin {
//   background: #007bb5;
//   color: white;
// }
//
// .fa-youtube {
//   background: #bb0000;
//   color: white;
// }
//
// .fa-instagram {
//   background: #125688;
//   color: white;
// }
//
// .fa-twitter {
//   background: #55ACEE;
//   color: white;
// }
